@{
    ViewData["Title"] = "Adicionar Transação";
}

<h1>Adicionar Transação</h1>
<p>Selecione o tipo de transação que deseja adicionar:</p>

<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Comissionamento dos Vendedores</h5>
                <a asp-controller="SellerCommissions" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custo Diário de Operação</h5>
                <a asp-controller="DailyOperationCosts" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custos Fixos</h5>
                <a asp-controller="FixedCosts" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custo de Pós-Venda</h5>
                <a asp-controller="AfterSaleCosts" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custo dos Carros</h5>
                <a asp-controller="CarCosts" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Venda de Carro</h5>
                @* <p class="card-text">Registre uma venda de um veículo.</p> *@
                <a asp-controller="CarSaleProfits" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lucro Retorno de Financiamento</h5>
                <a asp-controller="FinancingReturns" asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>